<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include("partials/header", {pageTitle: "About Us | JusticeCoin"}) -%>
</head>

<body style="background-color: #eee">
  <!-- START NAVBAR -->

  <%- include("partials/navbar", {activePage: 'about'}) -%>
  <!-- END NAVBAR -->
  <!-- START PAGE TITLE -->
  <section class="container-fluid" style="background-color: #000050; height: 40vh">
    <div class="col-lg-12" style="padding-top:20vh">
      <h1 class="text-center" style="color: #fff; font-size: 50px">Our Team</h1>
    </div>
  </section>
  <!-- END PAGE TITLE -->
  <!-- START MEMBER CARDS -->
  <!-- MAKE EFFICIENT WITH EJS TEMPLATES -->
  <section class="pt-200 pb-200 align-items-center">
    <div class="row item-margin justify-content-center">
      <% for (let i = 0; i<team.length; i ++) { %>
      <div class="card col-md-4 col-sm-6 bg-white team">

        <div class="d-flex flex-column text-center px-md-3">
          <div class="mb-4 text-center">
            <figure>
              <img class="" style="width:90%; border-radius: 50%; padding-top: 10px" src="<%= '/images/team/'.concat(team[i].name.split(' ')[0].toLowerCase() + '.png') %>" alt="Pic of <%=team[i].name.split(' ')[0]%>">
            </figure>
          </div><!-- /.ld-tm-img -->
          <div class="">
            <h3 class="size-sm font-weight-semibold mb-3"><%= team[i].name %></h3>
            <h6 class="text-uppercase font-weight-bold mb-3"><%= team[i].position %></h6>
            <div class="container" style="width: 75%">
              <div class="row mb-3">
                <div class="col-lg-4 mb-3" style="m">
                  <div class="bg-icon mx-auto" style="width: 50px; height: 50px; border-radius: 50%">
                    <a class="fa fa-lg fa-instagram text-white" href="<%= team[i].instagram %>" style="margin-top: 33%"></a>
                  </div>
                </div>
                <div class="col-lg-4 mb-3" style="m">
                  <div class="bg-icon mx-auto" style="width: 50px; height: 50px; border-radius: 50%">
                    <a class="fa fa-lg fa-linkedin text-white" href="<%= team[i].linkedin %>" style="margin-top: 33%"></a>
                  </div>
                </div>
                <div class="col-lg-4 mb-3" style="m">
                  <div class="bg-icon mx-auto" style="width: 50px; height: 50px; border-radius: 50%">
                    <a class="fa fa-lg fa-envelope text-white" href="<%= team[i].email %>" style="margin-top: 33%"></a>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- /.ld-tm-info -->
        </div><!-- /.ld-tm -->

      </div><!-- /.lqd-column col-md-3 col-sm-6 -->
      <% } %>
    </div><!-- /.row -->
  </section>
  <!-- <section class="jumbotron">
    <% for (let i = 0; i<team.length; i ++) { %>
    <div class="row text-center">
      <div class="col">
        <div class="card team">
          <a href="">
          <div class="card-body card-link-team">
            <img src="<%= team[i].imageSource %>" alt="">
            <h3 class="text-danger"></h3>
            <h5 class="text-dark"></h5>
          </div>
          </a>
        </div>
      </div>
    </div>
    <% } %>
<h1 class="text-center">WILL ADD OTHER PPL LATER ONCE I MAKE THIS CODE RESPONSIVE</h1>
  </section> -->
  <!-- END MEMBER CARDS -->
  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->
</body>
<!-- BASE JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--CUSTOM JS-->
<script src="js/navbarScroll.js"></script>

</html>
