<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.45">
  <title %= pageTitle %></title>
  <meta name="description" content="Justice Coin is a radical decentralized fundraising model built to support organizations promoting equality and social justice.">
  <meta name="keywords" content="Justice coin, xmrig, fundraising, cryptocurrency, cryptocurrency fundraising, monero, monero mining, justice, coin, volunteer, non-profit, non profit, 
  justice coin about, justice coin home, JusticeCoin,">
  <meta name="author" content="">
<head>
  <%- include("partials/header", {pageTitle: "JusticeCoin Decentralized Activism"}) -%>
</head>

<body style="background-color: #FFFFFF">

  <!-- START LOADER -->
  <div id="preloader" style="display: none;">
    <div id="status" style="display: none;">
      <div class="spinner">Loading...</div>
    </div>
  </div>
  <!-- END LOADER -->

  <!-- START NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">
      <!-- LOGO -->
      <div class="navbar-brand">
        <a class="logo anchor" href="/">
          <img src="/images/JusticeCoinLogo.png" alt="JusticeCoinLogo" class="img-fluid logo-light" style="position: fixed; top: 10px; width: 250px; height: auto">
        </a>

      </div>
      <button class="navbar-toggler sticky" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <strong class="mdi mdi-menu" style="font-size: 20px">Menu</strong>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="/#" class="nav-link" id="homeClicker">Home</a>
          </li>
          <li class="nav-item">
            <a href="/#faq" class="nav-link faqClicker">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/web-miner" class="nav-link">Web Miner</a>
          </li>
          <li class="nav-item">
            <a href="/download" class="nav-link">Download</a>
          </li>
          <!-- <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
          </li> -->
          <li class="nav-item">
            <a href="/#contact" class="nav-link" id="contactClicker">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- END NAVBAR -->

  <!--START HOME-->
  <section class="h-100vh" id="homePlace" style="background-image: url('images/background.jpg'); z-index: 0" id="home">
    <div class="bg-overlay-gradient" style="width: 100%; height: 100%"></div>
    <div class="home-table">
      <div class="home-table-center">
        <div class="container position-relative">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-white text-header_title">
              <h1 class="appear header_title" style="font-size:80px;">JusticeCoin</h1>
            </div>
          </div>
          <h2 class="text-header_title" style="color: #F0C000">
            Crypto for change:
          </h2>
          <h2 class="text" style="color: #add8e6">
            Mining cryptocurrency to support organizations for social justice
          </h2>
          <br>
          <a href="/web-miner">
            <button style="z-index: 10; position: relative" class="btn btn-large btn-outline-light" name="">
              <strong style="font-size:20px">Start Mining Online</strong>
            </button>
          </a>
          <a href="/download">
            <button style="z-index: 10; position: relative" class="btn btn-large btn-outline-light" name="">
              <strong style="font-size:20px">Download Our Secure Desktop Miner</strong>
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- Cool Background Particle Effect -->
    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%; position: absolute; top: 0px;"></canvas>
    </div>
    <!-- NEED TO PUT DOWN ARROW HERE -->
  </section>
  <!--END HOME-->
  <!-- START CHOOSE YOUR LEVEL SECTION -->
  <section class="container-fluid" style="z-index: 0; margin: auto">
    <div class="col-lg-12 text-dark" style="margin-top: 10vh; margin-bottom: 5vh">
      <h2 class="text-center font-weight-bold makesmall" style="color: #000060">JusticeCoin
        <span class="cursorType makesmall" style="color: #1F1F1F" data-elements="is accessible and safe to use., is donating to the Atlanta Black-Owned Business Fund.,is decentralizing activism."></span>
      </h2>
    </div>

    <div class="row text-center">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #000060">
          <a href="#route-beginner" id="route-beginnerClicker">
            <div class="card-body card-link">
              <p class="card-text">What is JusticeCoin?</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #000060">
          <a href="#route-intermediate" id="route-intermediateClicker">
            <div class="card-body card-link">
              <p class="card-text">I'm new to crypto. Explain how it all works.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #000060">
          <a href="#route-advanced" id="route-advancedClicker">
            <div class="card-body card-link">
              <p class="card-text">Who created JusticeCoin?</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #000060">
          <a href="#route-try" id="route-tryClicker">
            <div class="card-body card-link">
              <p class="card-text" style="color: #FFFFFF">I want to try it out! </p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </section>
  <!-- END CHOOSE YOUR LEVEL SECTION -->
  <!-- START SECTION BEGINNER -->
  <section class="container-fluid section section_beginner" id="route-beginnerPlaceCard">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-5">
          <h2 class="font-weight-bold " style="color: #F0C000">Make A Difference from Anytime, Anywhere </h2>
          <p class="text" style="font-size: 20px; color: #000000">JusticeCoin is a platform that allows you to make a difference personally. By mining cryptocurrency, each computer has the ability to transform computing power into funding for the Atlanta Black-Owned Business Fund.</p>
          <p class="text" style="font-size: 20px; color: #000000">In the future, we hope to expand our outreach to more non-profit organizations. With enough downloads over time, the money builds up, and you’ll be part of an initiative with the potential to help thousands of people.</p>
          <p class="text" style="font-size: 20px; color: #000000">JusticeCoin is a 501(c)3 non-profit organization pending approval.</p>

        </div>
        <div class="col-lg-6 col-sm-12 text-center">
          <img src="images/img-intermediate.svg" style="max-width: 400px; margin-top: 15vh; margin-bottom: 10vh;">
        </div>

      </div>
    </div>
  </section>
  <!-- END SECTION BEGINNER -->
  <!-- START SECTION INTERMEDIATE -->
  <section class="container-fluid section section_intermediate" id="route-intermediatePlaceCard">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-sm-12 text-center mb-5">
          <img src="images/img-beginner.svg " style="max-width: 400px; margin-top: 10vh; margin-bottom: 10vh;">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2 class="font-weight-bold " style="color: #F0C000">Crypto isn’t real money, but it has real-world exchange value.</h2>
          <p class="text" style="font-size: 20px; color: #FFFFFF"> Cryptocurrency is generated through users running computers to solve difficult computational problems in a process known as <i>mining</i>.</p>
          <p class="text" style="font-size: 20px; color: #FFFFFF">When a problem is solved (in this case, helping financial transactions move along smoothly), the user is rewarded with units of that cryptocurrency. The more users we have, the higher our exchange rate of Monero becomes. We exchange the Monero for US dollars and donate the earnings to a rotating non-profit organization. </p>
          <p class="text" style="font-size: 20px; color: #FFFFFF">Currently, we’re donating to the Atlanta Black-Owned Business Fund.</p>

        </div>

      </div>
    </div>
  </section>
  <!-- END SECTION INTERMEDIATE -->
  <!-- START SECTION ADVANCED -->
  <section class="container-fluid section section_advanced" id="route-advancedPlaceCard">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-5">
          <h2 class="font-weight-bold" style="color: #F0C000">Meet Our Team</h2>
          <p class="text" style="font-size: 20px; color: #000000">We’re a group of high school innovators striving to create the next generation of technological activism. Our goal is to support non-profit organizations promoting social justice.</p>
          <p class="text" style="font-size: 20px; color: #000000">We believe that blockchain technology can promote social change, and revolutionize existing fundraising models. </p>
          <p class="text" style="font-size: 20px; color: #000000">You can find all our source code on our <a href="https://github.com/Justice-Coin/" target="_blank"> github page</a>.</p>

        </div>

        
        <div class="col-lg-6 col-sm-12 text-center mb-5">
          <img src="images/teamspirit.svg" style="max-width: 400px">
        </div>
      </div>

    </div>
  </section>
  <!-- END SECTION ADVANCED -->
  <!-- START SECTION TRY -->
  <section class="container-fluid section section_try" id="route-tryPlaceCard">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-sm-12 text-center mb-5">
          <img src="images/img-try.svg" style="max-width: 400px">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2 class="font-weight-bold " style="color: #F0C000">Download Our Miner</h2>
          <p class="text" style="font-size: 20px; color: #FFFFFF">You can download our secure <a href="/download">desktop app</a> or you can try out our <a href="/web-miner">web miner</a>.</p>
          <p class="text" style="font-size: 20px; color: #FFFFFF">Note: most antivirus softwares consider all crypto-miners as dangerous, and unfortunately that could include our software. But this is no cause for worry! We promise that JusticeCoin is completely safe to download and we will never collect any of your personal information. For a full list of security features, please visit our <a href="#faq" class="faqClicker">FAQ</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION TRY -->

  <!-- START SECTION FAQ -->
  <!-- START SEARCH BAR -->
  <section id="faqPlace" class="mt-5">
    <section class="container-fluid" style="background-color: #FFFFFF; margin-top: 10vh; margin-bottom: 10vh;">
      <div class="text-center">
        <h1>Frequently Asked Questions</h1>
      </div>
      <!-- <div class="container" style="margin-top: 5vh">
        <form class="text-center" action="/faq" method="POST">
          <input type="text" autocomplete="off" name="faq-search" class="form-control form-control-lg" placeholder="Search For Questions">
        </form>
      </div> -->
    </section>
    <!-- END SEARCH BAR -->
    <!-- START QUESTIONS -->

    <section class="container" style="margin-top: 5vh">
      <div class="row">

        <div class="col-lg-12">

          <% for (let i = 0; i<faqs.length; i++) {%>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title mb-3">
                  <a data-toggle="collapse" class="faq-question" href="<%= '#collapse1'.concat(i) %>"> • <%= faqs[i].question %></a>
                </h3>
              </div>
              <div id="<%= 'collapse1'.concat(i) %>" class="panel-collapse collapse">
                <div class="panel-body faq-answer mb-3"><%= faqs[i].answer %></div>
              </div>
            </div>
          </div>
          <% } %>

        </div </div>
    </section>
    <!-- END QUESTIONS -->
  </section>

  <!-- END SECTION FAQ -->
  <br><br>
  <!-- PUT "BACK TO TOP" BUTTON HERE -->
  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->

</body>
<!-- BASE JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- TYPED -->
<script src="js/typed.js"></script>
<!--PARTICLES ANIMATE JS-->
<script src="js/particles.js"></script>
<script src="js/particles.app.js"></script>
<!--CUSTOM JS-->
<script src="js/navbarScroll.js"></script>
<script src="js/homeTyper.js"></script>
<script src="js/hashAnchors.js">
</script>

</html>
